<%- include('partials/header') %>

<div class="container">
<header class="jumbotron">
<div class="container">
	<h1>Wallpapers Database</h1>
</div>
</header>


<div class="row text-center" style="display:flex; flex-wrap: wrap;">
<% walls.forEach(function(wall){ %>
	<div class="col-md-3 col-sm-6">
	<div class="caption"
	 <strong><h4><%= wall.name %></h4></strong>
	</div>
	<a href="<%=wall.image%>">
		<img src="<%=wall.image%>" height="200" width="200">
	</a>
	</div>
<% }); %>
</div>


</div>
<%- include('partials/footer') %>